.header {
    position: relative;
    user-select: none;
}

.header .image {
    background: url(https://breadtalkvietnam.com/wp-content/uploads/2023/05/Rectangle-825-min.jpeg);
    width: 100%;
    height: 27.5rem;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: center;
}

.header .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header .title {
    color: #ffffff;
    max-width: 100%;
    font-weight: 700;
    position: relative;
    z-index: 2;
    font-size: 36px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
}

.header p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    position: relative;
    z-index: 2;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
    margin-top: 8px;
}

.content {
    user-select: none;
    width: 117rem;
    margin: auto;
    margin-top: 50px;
}

.content .product {
    display: flex;
    align-items: center;
}

.content .product .image {
    width: 86px;
    height: 86px;
}

.content .product .name {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin-left: 24px;
}

.content .price {
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
}

.content .sub-price {
    font-weight: 700;
    font-size: 15px;
    vertical-align: middle;
}

.content .stt {
    vertical-align: middle;
}

.content .quatity {
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
}

.action {
    margin-bottom: 6rem;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.remove {
    font-size: 26px;
    margin-left: 8.3rem;
    color: red;
}

.total {
    text-align: end;
    font-weight: 700;
    font-size: 20px;
    margin-right: 50px;
    display: inline-block;
}

.delete {
    color: red;
    font-size: 22px;
    margin-right: 20px;
}