#footer {
    background: url('../Images/FooterBackground/Group-1015-min.jpeg') no-repeat;
}

.logo-image {
    width: 209px;
}

.form-wrapper>input {
    border-radius: 0;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    outline: transparent;
    border: 1px solid white;
    border-right: transparent;
    background: transparent;
}

.form-wrapper>input:focus {
    background: transparent;
}

.form-wrapper>input::placeholder {
    color: white;
}

.form-wrapper>button {
    outline: none;
    border: none;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-left: 1px solid green;
    background-color: #f6780a;
    color: white;
    border: 1px solid white;
    border-left: transparent;
}

.form-wrapper>button:hover {
    background-color: white;
    color: #f6780a;
}

.col3-link {
    color: white;
}

.col3-link:hover {
    color: black;
}

.icons>a {
    border: 1px solid white;
    background: #f6780a;
    border-radius: 100%;
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons i {
    color: white;
    font-size: 2rem;
}

.icons>a:hover {
    background: white;
}

.icons>a:hover i {
    color: #f6780a;
}

.copyright {
    background: #f6780a !important;
}