<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu - BreadTalk</title>
    <!-- Add jquery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Add bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Add style -->
    <link rel="stylesheet" href="globalstyle.css">
    <link rel="stylesheet" href="footerstyle.css">
    <link rel="stylesheet" href="introduction.css">
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/2d9a5cdc3d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="main">
        <div class="slogan container">
            <div class="slogan_title">TẠI BREADTALK VIETNAM, KHÔNG CHỈ BÁNH MÌ LÀ “BIẾT NÓI”</div>
            <div class="slogan_sub_title">Chúng tôi Nói - Nghệ Nhân Nói - Thế giới Nói</div>
        </div>
        <div class="about_line"></div>
        <div class="box_list container">
            <div class="box_list_item row">
                <div class="box_list_item_img col-md-6">
                    <img src="../Images/Introduction/1.jpg" alt="" class="w-100">
                </div>
                <div class="box_list_item_content col">
                    <div class="box_list_item_content_title">Chúng tôi Nói</div>
                    <div class="box_list_item_content_description">
                        “BreadTalk không ngừng đổi mới và sáng tạo”
                        <br>
                        <br>
                        Fire Floss - chiếc bánh đặc trưng của BreadTalk. Từng đạt Giải bánh mì tốt nhất thế giới (Giải
                        thưởng bánh mì thế giới, 2016)
                        <br>
                        <br>
                        Thương hiệu BreadTalk cũng giành được 1 số giải thưởng về Tiếp cận đổi mới trong nghệ thuật làm
                        bánh, Sự kết hợp hương vị độc đáo, Các cách đóng gói sáng tạo hay Chiến lược tiếp thị.
                        <br>
                        <br>
                        Chúng tôi tự tin đáp ứng mọi nhu cầu từ chất lượng, hình thức đến hương vị. Trải nghiệm ẩm thực
                        bánh tuyệt vời cùng chúng tôi. Bởi, tại BreadTalk, không chỉ Bánh Mì là “Biết Nói”.
                    </div>
                </div>
            </div>
            <div class="box_list_item row">
                <div class="box_list_item_content col">
                    <div class="box_list_item_content_title">Nghệ Nhân Nói</div>
                    <div class="box_list_item_content_description">
                        “BreadTalk am hiểu ẩm thực bánh và khẩu vị người Việt”
                        <br>
                        <br>
                        BreadTalk nổi tiếng với sự sáng tạo độc đáo trong hương vị của bánh mì và bánh ngọt. Mở rộng các
                        lựa chọn và Đào sâu vào mỗi vị bánh là “kim chỉ nam” của chúng tôi trong việc sáng tạo. Mỗi công
                        thức, chọn lựa đều được các nghệ nhân cân đối với văn hóa ẩm thực Việt Nam. Tạo nên trải nghiệm
                        vị giác rất riêng mà bạn chỉ có thể có được tại BreadTalk Vietnam.
                        <br>
                        <br>
                        Không chỉ Fire Floss - bánh mì chà bông cay. Các dòng bánh mì khác, bánh ngọt, bánh kem tạo
                        hình… của BreadTalk đều nhận được sự tin tưởng và yêu thích từ khách hàng trên toàn thế giới.
                    </div>
                </div>
                <div class="box_list_item_img col-md-6">
                    <img src="../Images/Introduction/2.jpg" alt="" class="w-100">
                </div>
            </div>
            <div class="box_list_item row">
                <div class="box_list_item_img col-md-6">
                    <img src="../Images/Introduction/3.jpg" alt="" class="w-100">
                </div>
                <div class="box_list_item_content col">
                    <div class="box_list_item_content_title">Thế giới Nói</div>
                    <div class="box_list_item_content_description">
                        “BreadTalk không ngừng đổi mới và sáng tạo”
                        <br>
                        <br>
                        Fire Floss - chiếc bánh đặc trưng của BreadTalk. Từng đạt Giải bánh mì tốt nhất thế giới (Giải
                        thưởng bánh mì thế giới, 2016)
                        <br>
                        <br>
                        Thương hiệu BreadTalk cũng giành được 1 số giải thưởng về Tiếp cận đổi mới trong nghệ thuật làm
                        bánh, Sự kết hợp hương vị độc đáo, Các cách đóng gói sáng tạo hay Chiến lược tiếp thị.
                        <br>
                        <br>
                        Chúng tôi tự tin đáp ứng mọi nhu cầu từ chất lượng, hình thức đến hương vị. Trải nghiệm ẩm thực
                        bánh tuyệt vời cùng chúng tôi. Bởi, tại BreadTalk, không chỉ Bánh Mì là “Biết Nói”.
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5"></div>
    </div>
    <div id="footer">
    </div>
    <script src="../Scripts/footer.js" type="module"></script>
</body>

</html>