.about_line {
    height: 6px;
    width: 112px;
    margin: 20px auto;
    background: #FFC600;
}

.slogan {
    padding: 7rem 7rem 0 7rem;
}

.slogan_title {
    font-weight: 400;
    font-size: 4rem;
    line-height: 4.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.slogan_sub_title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    color: #3D3D3D;
    width: 50%;
    margin: 0 auto;
}

.box_list_item {
    padding-bottom: 6rem;
}

.box_list_item_img {
    padding: 0;
}

.box_list_item_content {
    padding: 4.5rem;
    background: #FCF8F0;
}

.box_list_item_content_title {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 2rem;
}

.box_list_item_content_description {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 25px;
}

.goTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 24px;
    border: 1px solid #8a8a8a;
    color: #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 999;
}

.fb,
.phone {
    position: fixed;
    bottom: 7rem;
    right: 1rem;
    font-size: 32px;
    border-radius: 50%;
    color: #1182fc;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 999;
    animation: iconSkew 1s infinite ease-out;
}

@keyframes iconSkew {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

.phone {
    color: red;
    bottom: 13rem;
}