<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuyển dụng - BreadTalk</title>
    <!-- Add jquery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Add bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Add style -->
    <link rel="stylesheet" href="globalstyle.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footerstyle.css">
    <link rel="stylesheet" href="headerbackground.css">
    <link rel="stylesheet" href="recruitment.css">
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/2d9a5cdc3d.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="header"></div>

    <div id="main">
        <div class="position-relative sub_header" tabindex="-1">
            <img class="position-absolute header_background" src="../Images/header.jpeg" alt="subheader">
            <div class="header_title container">
                <div class="page_title">Tuyển dụng</div>
                <div class="navigate_title d-flex align-items-center justify-content-center">
                    <a href="index.html">Trang chủ</a>&nbsp; / Tuyển dụng
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center pt-5 pb-5">
            <div class="col-md-8 recruitment_content">
                <p><strong>BreadTalk</strong> đang mở rộng nhanh chóng, vì vậy, chúng tôi luôn muốn tìm những thành
                    viên nhiệt huyết và đầy đam mê để đồng hành phát triển cùng mình.<br>
                    Bạn luôn được chào đón tham gia <strong>Gia đình BreadTalk Vietnam!</strong></p>
                <p>Hãy gửi ngay hồ sơ về: <strong>hr@breadtalkvietnam.com</strong></p>
                <p><strong>Yêu cầu:</strong><br>
                    – Thân thiện<br>
                    – Có tinh thần trách nhiệm cao và trung thực trong công việc<br>
                    – Có mong muốn học hỏi và phát triển trong lĩnh vực, ngành nghề này<br>
                    – Một tâm hồn đam mê ẩm thực</p>
                <p><strong>Benefit:</strong><br>
                    – Môi trường thân thiện, chuyên nghiệp<br>
                    – Cơ hội thăng tiến trong công việc và ngành Ẩm thực<br>
                    – Được đào tạo để phát triển kỹ năng nghề nghiệp<br>
                    – Mức lương cạnh tranh</p>
                <p><strong>Các vị trí tuyển dụng:</strong><br>
                    – Trưởng Ca Bán Hàng<br>
                    – Nhân Viên Bếp Bánh<br>
                    – Nhân Viên Bán Hàng</p>
                <p><strong>Địa điểm làm việc:</strong><br>
                    Các cơ sở BreadTalk tại Hồ Chí Minh, Phú Quốc, Hà Nội, Hải Phòng, và Nha Trang</p>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../Scripts/header.js" type="module"></script>

    <script type="module">
        import renderFooter from '../Scripts/footer.js';
        renderFooter();
    </script>

</body>

</html>